body{
    background-color: gainsboro;
}

.main_page{
    background: url('images/main-background.jpg');
    height: 840px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    float: left;
}