
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
