html, body
{
	margin: 0;
	overflow-x: hidden;
	animation: transitionIn 0.5s;
	scroll-behavior: smooth;
	font-family: 'Nunito', sans-serif;
}

#a-white
{
	text-decoration: none;
	color: black;	
}

#a-black
{
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 1024px)
{
	.menu-box
	{
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		transition: 0.5s;
		background-color: black;
	}
	.menu-box #logo
	{
		color: white;
	}
	#logo
	{
		width: 150px;
		height: 50px;
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
	}
	#search-bar
	{
		width: 400px;
		height: 40px;
		margin-left: 5px;
		margin-right: 5px;
		transition: 0.5s;
	}
	#search-form
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#search
	{
		width: 340px;
		height: 40px;
		border: none;
		border-bottom: 1px solid white;
		background: transparent;
		font-family: 'Nunito', sans-serif;
		font-size: 20px;
		color: white;
	}
	#submit
	{
		margin-top: 3px;
		margin-left: 5px;
		width: 40px;
		height: 40px;
		border: 1px solid white;
		background: none;
		background-image: url(../../web-pictures/search.png);
		background-size: cover;
		background-position: center;
		
	}
	#submit:hover
	{
		cursor: pointer;
	}
	#client-options
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
		margin-right: 10px;
	}
	#categories-image
	{
		width: 150px;
		height: 50px;
		display: flex;
		align-items: center;
    	justify-content: space-around;
		margin-left: 10px;
		margin-right: 10px;
		transition: 0.5s;
	}
	#book, #videos, #games
	{
		width: 35px;
		height: 35px;
	}
	#book
	{
		background-image: url(../../web-pictures/books-white.png);
		background-size: cover;
		background-position: center;
	}
	#videos
	{
		background-image: url(../../web-pictures/video-white.png);
		background-size: cover;
		background-position: center;		
	}
	#games
	{
		background-image: url(../../web-pictures/game-white.png);
		background-size: cover;
		background-position: center;		
	}
	#shopping
	{
		width: 50px;
		height: 50px;
		margin-left: 10px;
		margin-right: 10px;
		background-image: url(../../web-pictures/shopping.png);
		background-size: cover;
		background-position: center;
		transition: 0.5s;		
	}
	#user
	{
		width: 50px;
		height: 50px;
		margin-left: 10px;
		margin-right: 10px;
		background-image: url(../../user-images/user_unknow.png);
		background-size: cover;
		background-position: center;	
	}
	#szczegoly-box
	{
		width: 100%;
		min-height: 700px;
		padding-top: 120px;
		margin-bottom: 20px;
	}
	#product
	{
		width: 100%;
		height: 500px;
		display: flex;
		justify-content: space-evenly;
	}
	#photo-product
	{
		width: 400px;
		height: 500px;
		margin-left: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#product-photo-img
	{
		width: 70%;
		height: auto;
		transition: 0.5s;
	}
	#product-photo-img:hover
	{
		box-shadow: 0px 0px 107px 20px #ffe680;
		cursor: pointer;
	}
	#opis-kom
	{
		min-height: 100px;
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
		font-size: 30px;
	}
	#opis
	{
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	#kometarze
	{
		font-size: 25px;
	}
	.text-product
	{
		font-size: 24px;
	}
	.text-product-title{
		font-weight: 700;
		font-size: 40px;
	}
	#footer
	{
		width: 100%;
		height: 300px;
		background-color: black;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	#logo-footer
	{
		width: 150px;
		height: 50px;
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#client-options-footer
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
		margin-right: 10px;
	}
	#categories-image-footer
	{
		height: 50px;
		display: flex;
		align-items: center;
    	justify-content: space-around;
		margin-left: 10px;
		margin-right: 10px;
	}
	#info-box
	{
		font-size: 25px;
		color: white;
		width: 200px;
		margin-left: 20px;
		margin-right: 20px;
	}
	#info-text-1
	{
		border-bottom: 2px solid white;
		width: 200px;
	}
	#info-text-2
	{
		width: 200px;
		margin-top: 10px;
		font-size: 16px;
	}
	#dane{
		width: 550px;
	}
}

@keyframes transitionIn{
  from {
    opacity: 0.3;
  }
   to{
     opacity: 1;
   }
}